<system.identityModel.services>

  <federationConfiguration>
    <wsFederation passiveRedirectEnabled="true"
                  issuer="https://adfs.leastprivilege.vm/adfs/ls"
                  realm="https://adfs.leastprivilege.vm/adfsapp/"
                  requireHttps="true" />
    <cookieHandler requireSsl="true" />
  </federationConfiguration>

</system.identityModel.services>